.panel.panel-default

  .panel-heading
    %h3.panel-title {{decision.actionName}}

  .panel-body
    %table.table.table-striped.table-bordered.table-hover.table-condensed
      %thead
        %tr
          %td Action
          %td Score
      %tbody
        %template(v-for="action in decision.actions")
          %tr(v-on:click="selectAction(action)")
            %td {{action.name}}
            %td {{action.score}}
