.row
  %ol.breadcrumb
    -#%li
    -#  %a(v-on:click="setState('decisions')") Decisions
    -#%li
    -#  %a(v-on:click="setState('actions')") Actions
    -#%li
    -#  %a(v-on:click="setState('considerations')") Considerations
  .col-md-3

    %decision-list-component(v-bind:decision-log="decisionLog")

  .col-md-3

    %decision-details-component(v-if="currentDecisionEntry" v-bind:decision="currentDecisionEntry")
    %action-details-component(v-if="currentActionEntry" v-bind:action="currentActionEntry")