.panel.panel-default

  .panel-heading
    %h3.panel-title {{action.name}} -- Details

  .panel-body
    %table.table.table-striped.table-bordered.table-hover.table-condensed
      %thead
        %tr
          %td Consideration
          %td Input
          %td Output
      %tbody
        %template(v-for="consideration in action.considerations")
          %tr(v-on:click="selectConsideration(consideration)")
            %td {{consideration.name}}
            %td {{consideration.input}}
            %td {{consideration.output}}
